.example-header {
  top: 0;
  position: fixed;
  z-index: 999;
}


.matMenuStyle {
  max-width: 361px !important;
  overflow: hidden !important;
}

.read {
  text-decoration: underline;
  color: #3f51b5;
  margin-right: 6%;
}

.notifyHeader {
  color: #3f51b5;
}


.notificationList {
  overflow-y: auto;
  height: 200px;
}

.notification-bottom {
  margin-top: 25%;
}
